body {
    background-image: url("https://images.unsplash.com/photo-1575925251153-6953908bc215?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
    background-size: cover;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ECF9FE;
    text-shadow: 5px 5px 8px #181F22;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ECF9FE;
    text-shadow: 5px 5px 8px #181F22;
}

p {
    color: #ECF9FE;
    text-shadow: 5px 5px 8px #181F22;
    
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Teko', sans-serif;
}

#increment-btn {
    background: #a98467;
    text-shadow: 5px 5px 8px #181F22;
    color: #ECF9FE;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    
}

#save-btn {
    background: #606c38;
    color: #ECF9FE;
    text-shadow: 5px 5px 8px #181F22;
    letter-spacing: 2px;
}

